<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.image.attached? ? cl_image_path(@list.image.key) : asset_path('list_background.jpg') %>)">
    <h2><%= @list.name %></h2>
</div>
<div class="container my-3">

  <% @bookmarks.each do |bookmark| %>
    <div class="card-product">
      <%= image_tag "#{bookmark.movie.poster_url}", alt: "Poster for #{bookmark.movie.title}" %>
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><strong>Overview:</strong> <%= bookmark.movie.overview %></p>
        <p><strong>Comment:</strong> <em>"<%= bookmark.comment %>"</em></p>
        <p><strong>Rating:</strong> <%= bookmark.movie.rating %>
      </div>
    </div>
    <br>
  <% end %>
  <%= link_to "Add movie", new_list_bookmark_path(@list.id)  %>
</div>
