<h2><%= @list.name %></h2>
<div class="container my-3">
  <ul>
    <% @bookmarks.each do |bookmark| %>
    <li><strong><%= bookmark.movie.title %></strong>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Remove #{bookmark.movie.title} from #{@list.name}?"} do %>
        <i class="fa-regular fa-trash-can fa-xs"></i>
      <% end %>
    <br>Synopsis: <%= bookmark.movie.overview %>
    <br>Rating: <%= bookmark.movie.rating %>
    <br>Comment: <em>"<%= bookmark.comment %>"</em>
    </li><br>
    <% end %>
  </ul>
  <%= link_to "Add movie", new_list_bookmark_path(@list.id)  %>
</div>
